[2017-08-20 15:10] TalAter opened #1 "first-timers-only: Generate random drone model names"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-20 16:55] cg-cnu commented on #1
hi there, first time contributor to open source. Can I pickup this one ?

[2017-08-20 17:31] TalAter commented on #1
Of course! 👍

[2017-08-20 17:55] cg-cnu commented on #1
Thanks for the offer :)
Did npm install, ran gulp watch and got these erorrs.
[code]

Looks like thrift is not available system wide.
But npm  install -g thrift also didn't helped.
Let me know if am doing anything wrong.
Btw, am on windows 10.

[2017-08-20 18:16] TalAter commented on #1
My fault. The thrift that is installed through npm is just a JavaScript wrapper. It assumes that you have the thrift library installed on your machine.

You shouldn't have to do that just to work on the JavaScript.

I have just pushed a new commit to the repo which will allow you to run `gulp watch:js` instead, without having to bother with thrift at all.

Either pull the latest changes from https

[2017-08-20 18:40] cg-cnu commented on #1
Yeeaah! 🎉 😄  Am able to to start the server after the fix.

Just that am getting a linting error...
```error  Expected linebreaks to be 'LF' but found 'CRLF'  linebreak-style```
Googling shows that its a windows issue; I have for now disabled the error by
modifying the following lines in .eslintrc
[code]
to
```     "linebreak-style": 0, ```

Let me know if there is any better way to fix it.

Btw,

[2017-08-20 18:54] cg-cnu commented on #1
Few question regarding the code organization; can be stupid ones.

Should I keep the whole logic in one function `randomDroneModel` or have multiple functions like
`randomManufacturerName` and `randomModelName` and all `randomDroneModel` does is return `"randomManufacturerName() + " " + randomModelName()"`

The defaults...
[code]
will be coming from a different config file or just declared in the

[2017-08-20 19:14] TalAter opened #2 "Create function to generate random coordinates"
### Mission Control

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

## How you can help

### Background

To help developers building on top of DAV technologies, Mission Control can start in a simulation environment. In a simulation environment, there are always a few simulated drones flying ar

[2017-08-20 19:30] TalAter commented on #1
* I think we should be ok with line breaks... If I remember correctly they can be configured in your IDE/editor, or in GitHub. But I think we should be ok even if we ignore it.

* Yes, you should be getting `hello world` on the root. If you visit http://localhost:8888/status you should get a json with detail objects for a few drones (including names).

* Leave the defaults in the same file.

* You

[2017-08-20 19:41] TalAter opened #3 "Generate random ratings for drones (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-20 20:02] TalAter opened #4 "Add code of conduct document (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2017-08-20 20:10] cg-cnu commented on #3
can I pick this up ?

[2017-08-20 20:26] TalAter commented on #3
@cg-cnu You're no first-timer 😃

I would love to give people who haven't contributed in the past a chance to learn from these issues (as you can imagine, it takes a lot of work and time to document and write these issues).

I would be very appreciative of any other pull requests from you if you see anything else that needs work. I will also be creating some issues for non-first-timers, which I'll

[2017-08-20 20:29] cg-cnu commented on #3
@TalAter Ha ha... 😄 I know, I was just thinking the same but couldn't resist myself 😃 I will be around and try to help the first timers to help setup. Thanks 👍

[2017-08-20 20:34] TalAter commented on #1
Works and looks great 👍

![model-names](https://user-images.githubusercontent.com/926653/29498221-05037162-8600-11e7-87a4-68d38e55b9af.gif)

Bonus points for using template literals 😉

Thank you!

[2017-08-20 20:34] #1 closed

[2017-08-20 20:43] cg-cnu commented on #1
My first substantial opensource contribution ever! 😄 :confetti_ball:
Thanks so much for the help! 🙏 👍

[2017-08-20 20:56] TalAter commented on #3
That's the (open-source) spirit! ❤️

[2017-08-21 03:28] JamesDimi commented on #3
Hello! Can i try to solve it?
So you just need the function to return a random number between 1.0 and 5.0?

[2017-08-21 03:47] cg-cnu commented on #3
Hey @JamesDimi. Yes, that's it. Feel free to work on it.

[2017-08-21 05:16] JamesDimi commented on #3
So i created the function and using vscode .run package to run the function it seems to work as expected.
I try to install though gulp and run it but it seems i do something wrong and the server is not starting (its my first time using gulp, even trying to commit).
Could i send you the pull request anyway?

[2017-08-21 06:30] TalAter commented on #3
Looks great @JamesDimi! Thank you for the help 👍

And congrats on your first pull request. I hope it is the first of many.

<img width="613" alt="jamesdimi__james_dimitrakopoulos_" src="https://user-images.githubusercontent.com/926653/29506229-3a6d5f22-8653-11e7-8156-a214990a5878.png">

[2017-08-21 06:30] #3 closed

[2017-08-21 09:15] TalAter commented on #1
@cg-cnu Please join our gitter channel for contributors - https://gitter.im/DAVFoundation/DAV-Contributors

[2017-08-21 12:41] matthewfitch23 commented on #4
@TalAter I have just put in a PR for this issue :)

[2017-08-21 12:43] sblasa commented on #4
Hello, @talater, I'm interested in working on this issue.

[2017-08-21 19:56] #4 closed

[2017-08-21 20:06] TalAter commented on #4
@matthewfitch23, @sblasa - This issue was just fixed by @JibranKalia in #7.

But we still need help adding this code of conduct to our other two projects.

Would you be so kind and help add this code of conduct to:
- [Captain](https://github.com/DAVFoundation/captain) - @matthewfitch23
- [Missions](https://github.com/DAVFoundation/missions) - @sblasa

Thank you so much for the help! ❤️

By the way

[2017-08-22 09:55] TalAter commented on #2
Thank you, @Govorin for tackling this one... it was a tough one!

Congratulations on your first pull request 🍾  I hope it's the first of many!

Please join our [DAV-Contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors), and hopefully help others looking to get started with open-source and DAV.

![random-coords](https://user-images.githubusercontent.com/926653/29559910-1597

[2017-08-22 09:55] #2 closed

[2017-08-22 10:43] TalAter opened #11 "Add gitter link to README (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2017-08-22 11:41] ankmachine commented on #11
i would like to take this issue

[2017-08-22 12:07] #11 closed

[2017-08-22 12:08] TalAter commented on #11
Thank you @ankmachine

Congratulations on your first pull request, and thank you so much for helping out!

I hope this is the first of many contributions to open-source projects 👍

[2017-08-22 16:21] TalAter opened #13 "randomRating() method should return a float (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 18:38] cg-cnu opened #14 "create JSDoc comments for the function randomDavAddress (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 18:44] cg-cnu opened #15 "create JSDoc comments for the function randomManufacturerName (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 18:46] cg-cnu opened #16 "create JSDoc comments for the function randomModelName (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 18:50] cg-cnu opened #17 "create JSDoc comments for the function randomDroneModel (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 20:20] TalAter commented on #4
@sblasa Please check out https://github.com/DAVFoundation/missions/issues/3

[2017-08-22 21:05] TalAter opened #18 "Add tests to check randomDavAddress() (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-22 21:33] TalAter opened #19 "Add tests to check drone generateRandom()"
### Mission Control

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

## How you can help

As a project that relies on a large community of contributors, it is very important for us to have good tests to make sure changes don't break anything.

One of the functions that need testing is the funct

[2017-08-23 06:56] ankmachine opened #20 "npm test runs through same file twice"
npm test runs through test/specs/simulation.drone.spec.js twice and skips test/specs/simulation.random.spec.js.

![issuewithnpmtest2](https://user-images.githubusercontent.com/17567788/29608289-574d7bb2-8811-11e7-94fa-7f4b5f186d2c.jpeg)

[2017-08-23 09:11] TalAter commented on #18
Claimed by @ankmachine

[2017-08-23 10:50] #20 closed

[2017-08-23 10:50] TalAter commented on #20
Fixed.
Thanks for alerting me to this one. 👍

[2017-08-23 10:59] TalAter commented on #13
Fixed by @Govorin in #21
Thank you.

[2017-08-23 10:59] #13 closed

[2017-08-23 11:12] TalAter commented on #18
Merged. Works perfectly.
Thank you for the help once more.

[2017-08-23 11:12] #18 closed

[2017-08-23 12:49] cg-cnu opened #23 "repository field missing in package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 13:04] cg-cnu opened #24 "create JSDoc comments for the function randomMissionsCompleted (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 13:20] cg-cnu opened #26 "Generate random missions completed"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 13:37] TalAter commented on #23
Thank you @malltshik, and congratulations on your first pull request 🍾

I hope it is the first of many contributions to open-source.

[2017-08-23 13:37] #23 closed

[2017-08-23 13:48] cg-cnu opened #27 "Add tests to check randomMissionsCompleted() returns an object"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 13:55] cg-cnu opened #28 "Add tests to check randomMissionsCompleted() returns an object with keys missionsCompleted and missionsCompleted7Days"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 14:01] cg-cnu opened #29 "add tests to check missionsCompleted value is in required range"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 14:06] cg-cnu opened #31 "add tests to check missionsCompleted7Days value is in required range"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-23 15:07] #26 closed

[2017-08-23 15:46] cg-cnu commented on #26
Thanks for your work @malltshik  and congratulations on your first open source contribution. 🎉 🎊
Hope to see you contributing more to opensource. 🍾
Feel free to join our [gitter channel]( https://gitter.im/DAVFoundation/DAV-Contributors).

[2017-08-23 17:27] riktimmondal commented on #29
i am working on this.Is it okay?

[2017-08-23 17:34] cg-cnu commented on #29
@riktimmondal Sure pick it up 👍

[2017-08-23 20:08] TalAter commented on #29
Thank you @riktimmondal

I wrote a few comments on #32, but other than that this is a great first pull request! Congratulations on becoming an open sourcer! I hope this is the first contribution of many.

[2017-08-23 20:08] #29 closed

[2017-08-23 20:10] TalAter commented on #31
# This issue is still available for first-time contributors
**The commits listed above this message are for a different issue**

[2017-08-24 09:35] TalAter commented on #27
# This issue is still available for first-time contributors

[2017-08-24 09:35] TalAter commented on #28
# This issue is still available for first-time contributors

[2017-08-24 13:12] TalAter opened #36 "Create tests for vehicles - getVehicles()"
### Mission Control

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

## How you can help

### Background

To help developers building on top of DAV technologies, Mission Control can start in a simulation environment. In a simulation environment, there are always a few simulated drones flying ar

[2017-08-28 17:39] kbekkeli opened #37 "Iknow"
learning

_Sent from my Samsung SM-A520F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-28 19:06] cg-cnu commented on #37
@kbekkeli If you want to learn or test out some gihub features. [githubschool](https://github.com/githubschool) will be the ideal place.  Please try to keep these issues related to missioncontrol. Thanks!

[2017-08-28 21:20] #37 closed

[2017-08-30 00:18] Rob-Rychs commented on #24
Took a stab at it

[2017-08-30 08:48] #14 closed

[2017-08-30 08:49] TalAter commented on #14
Looks great!

Congratulations on doing your first pull request! 🎆

I hope this is the first of many contributions to open-source. :octocat:

[2017-08-30 08:50] TalAter commented on #14
Looks great @thomp098

Congratulations on doing your first pull request! 🎊
I hope this is the first of many contributions to open-source. :octocat:

[2017-08-30 08:52] TalAter commented on #14
@thomp098 Please feel free to join our  [:octocat:gitter contributors room](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss other opportunities to get involved with open source.

[2017-08-31 02:34] cg-cnu opened #41 "update new drone model names"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-31 11:20] TalAter commented on #41
Thank you @Valilutzik 👍

Congratulations on your first pull request 🎆

I hope it is the first of many contributions to open-source!

Please join us on our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) for more opportunities to get involved with open source.

[2017-08-31 11:20] #41 closed

[2017-08-31 19:23] TalAter opened #43 "Add tests to check randomMissionsCompleted() returns an object"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-08-31 19:24] #27 closed

[2017-08-31 23:00] woodske commented on #43
I'd like to give this a shot if it's still available.

[2017-09-01 04:12] sblasa commented on #31
@TalAter @cg-cnu  Hi, I would like to try help with this one if that's okay.

[2017-09-01 08:33] #24 closed

[2017-09-01 08:36] TalAter commented on #24
Thank you, looks great!

Congratulations on your first pull request. 👍

I hope it is the first of many contributions to open-source. 😃

Please join us on our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss other opportunities to get involved with open-source.

[2017-09-01 08:48] TalAter opened #45 "Create tests for DAV ID icon - getDavIdIconUrl()"
### Mission Control

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

## How you can help

### The Issue

As a project that relies on a large community of contributors, it is very important for us to have good test coverage to make sure changes don't break anything.

The file `/server/lib/davIdI

[2017-09-01 08:52] TalAter commented on #45
Claimed by @Valilutzik

[2017-09-01 08:56] TalAter opened #46 "Create tests for hasStore()"
### Mission Control

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

## How you can help

### The Issue

As a project that relies on a large community of contributors, it is very important for us to have good test coverage to make sure changes don't break anything.

The file `/server/lib/enviro

[2017-09-01 09:46] TalAter commented on #43
Go for it!
Thank you. 🙇

[2017-09-01 09:47] TalAter commented on #43
Please join our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where you can get help, and help other contributors.

[2017-09-01 09:49] TalAter commented on #31
Go for it @sblasa!

Thank you 🙇

[2017-09-01 20:42] debeshadhikari commented on #28
Hi, is this issue still available? I want to give this a try.

[2017-09-01 21:05] TalAter commented on #28
It is available. Go for it! 👍

And please join our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors)
 where we discuss this and other ways to get into open source

[2017-09-01 21:07] #15 closed

[2017-09-01 21:11] TalAter commented on #15
Closed in #44

Thank you so much, and congratulations on your first open source contribution.

[2017-09-01 22:42] Rob-Rychs commented on #24
🎉  Thanks for helping me get started!

[2017-09-02 00:45] cg-cnu commented on #15
@fabio-sp Congratulations on your first pull request 🎆
Its great that you started contributing to open source. Its a wonderful feeling isn't it  ❤️
Welcome to the community and hope to see you around 😄

[2017-09-02 01:15] cg-cnu opened #48 "Update gitter badge"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-02 01:50] cg-cnu opened #49 "Add license badge"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-02 07:31] qwiktrix commented on #49
Hi would it be possible to take this on?

[2017-09-02 07:55] cg-cnu commented on #49
Congratulations @qwiktrix on your first open source contribution 🎆
Thank you for the awesome work! 💯  Your issue will be approved and merged by @TalAter in a bit.
We hope this will be the starting of many of your contributions. Feel free to join our [gitter chat](https://gitter.im/DAVFoundation/DAV-Contributors) and share your experience 😄

[2017-09-02 21:47] #45 closed

[2017-09-02 21:59] #49 closed

[2017-09-03 01:33] sblasa commented on #31
@TalAter Thanks! 😄

[2017-09-03 05:09] Rob-Rychs commented on #46
will have to read a bit more about jest and follow the structure of the other specs but I will try writing this test

[2017-09-03 08:20] cg-cnu commented on #46
Sure @Rob-Rychs, give it a go 👍  If you stuck or need any help feel free to post here. We would be happy to help you out 😄

[2017-09-03 17:26] woodske commented on #43
It looks like this has been done already.

`describe('randomMissionsCompleted()', () => {

  test('returns an object', () => {
    expect(
      typeof randomMissionsCompleted()
    ).toBe('object');
  });`

[2017-09-03 17:50] P-WM commented on #48
I'm looking to do my first PR. Can I work on this?

[2017-09-04 00:51] cg-cnu commented on #48
Hi @P-WM Sure go ahead. Its yours 👍

[2017-09-04 01:08] cg-cnu commented on #43
Hi @woodske, thanks for your interest in contributing. 👍
Yes, the issues seems to be already fixed. Sorry for the confusion.
Feel free to pick up some other issue and post in [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) if you need any help 😄

[2017-09-04 02:06] P-WM commented on #48
Pull Request submitted. Thanks for the time and effort put into making it easy and fun--you've got me interested in and reading the codebase now!

[2017-09-04 03:15] cg-cnu commented on #48
@P-WM Happy to hear that :smile: Glad it made you interested in open source.
Thanks for your awesome work :100: Feel free to join our [gitter chat](gitter.im/DAVFoundation/DAV-Contributors). Looking forward to see you contributing more to open source.

[2017-09-04 15:49] #43 closed

[2017-09-04 15:51] #48 closed

[2017-09-04 15:54] TalAter commented on #48
Merged.

Thank you for contributing @P-WM!

If you have any questions about the code or the project, please feel free to ask on [gitter](https://gitter.im/DAVFoundation/DAV-Contributors).

👋 @cg-cnu

[2017-09-06 05:06] debeshadhikari commented on #28
Won't adding the following test to the describe block do the work? There is already a describe block for randomMissionsCompleted in the test script.

[code]
Isn't it not done already in the following link mentioned above:

https://github.com/malltshik/missioncontrol/commit/4df96efe88d4a1e55ca98566b9562f5ce81efe6e

Should I just modify and add the code to the script ?

[2017-09-06 09:03] TalAter commented on #28
It is usually better to separate it to as many granular atomic tests as possible. This way if something breaks, you know exactly what broke. And if the API changes you only have to change the tests that describe the exact thing that you change.

In this case it would mean having separate tests for `missionsCompleted` and `missionsCompleted7Days`.

There already is a test for `missionsCompleted` in

[2017-09-07 03:09] itsthecheat commented on #17
Would love to jump in on this if still needed

[2017-09-07 03:17] cg-cnu commented on #17
@itsthecheat Sure thing! Go ahead :+1:

[2017-09-07 09:40] TalAter commented on #17
Thanks @itsthecheat .
Please join our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where you can discuss this issue, ask for help, and find more opportunities to get involved with open-source.

[2017-09-07 22:08] #17 closed

[2017-09-12 08:56] TalAter opened #54 "create JSDoc comments for the function randomModelName (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-12 08:57] #16 closed

[2017-09-12 08:58] TalAter commented on #19
Hey @matthewfitch23, do you still intend to take on this issue?

[2017-09-12 08:59] TalAter commented on #46
Hey @Rob-Rychs, do you still intend to take on this issue?

[2017-09-12 08:59] TalAter commented on #28
@debeshadhikari how is it going with this one? Do you need any help?

[2017-09-12 09:00] TalAter commented on #31
Hey @sblasa, how is it going with this one? Do you need any help with it?

[2017-09-12 09:54] matthewfitch23 commented on #19
Hi Tal, sorry haven’t got round to doing this. No I don’t but hopefully will be able to pick up another issue in a couple of weeks. Cheers

[2017-09-13 06:34] Rob-Rychs commented on #46
Hi @TalAter, yes I do! thanks for following up

[2017-09-13 14:37] TalAter opened #56 "Add tests to check random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-13 14:38] TalAter commented on #19
OK, no worries. Feel free to pick up any of the other issues marked up-for-grabs

[2017-09-13 14:38] #19 closed

[2017-09-13 14:39] #54 closed

[2017-09-13 14:49] sblasa commented on #31
@TalAter Hi! Sorry, got busy with work. Starting on it today.

[2017-09-13 15:15] sblasa commented on #31
@TalAter I'm getting this error when I run the npm test. I followed directions noted above description.

C:\Users\stbla\code_school\opensource\missioncontrol [master ≡ +0 ~2 -0 !]> npm test

[08:12:49] Using gulpfile ~\code_school\opensource\missioncontrol\gulpfile.js
[08:12:49] Starting 'jest'...
C:\Users\stbla\code_school\opensource\missioncontrol\node_modules\jest-haste-map\build\crawlers\node.

[2017-09-13 15:40] TalAter opened #57 "Create function to make sure drones don't fly into ⛰"
## Overview

The DAV project you are looking at is **Mission Control**. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

To help developers building on top of DAV technologies, Mission Control can start in a simulation environment. In a simulation environment, there are always a few simulated drones flying around the user, ready to take on missions. T

[2017-09-13 16:29] TalAter commented on #31
Hmmm. I cannot reproduce this on my machine and there is nothing specific about Mission Control code in the error.

My guess would be it has something to do with the script trying to access the filesystem in an environment that isn't *unix-like*.

Are you using the standard/old school command shell of Windows? If you are using Windows 10, I would try using the new bash-like shell they offer. If yo

[2017-09-14 16:27] sblasa commented on #31
@TalAter Hi, yes, I tried using Git Bash, and that didn't work as well. I'm going to redo the repo on my machine and run it again. I will keep trying! :) Thanks!

[2017-09-16 00:57] tm3cheun commented on #56
Hey @TalAter , I'd love to pick this one up! This would be my first open source contribution.

I've already cloned the repo but the `lib.davIdIcon.spec.js` is already failing when I run `npm test`.

[2017-09-16 03:59] ZackTaylor commented on #56
@TalAter This will be my first real open source contrib but I'd like to take a swing at this.

[2017-09-16 04:31] cg-cnu commented on #56
Hey @tm3cheun  can you post the error message. This will help us find the issue. Sadly am on mobile, can't test.

 @ZackTaylor Thanks for your interest. The issue is already claimed. We keep creating new `first timers issues` frequently to encourage new contributors. Currently all the issues are claimed. You can follow this bot https://twitter.com/first_tmrs_only to find new issues.

Both of you,

[2017-09-16 04:34] Rob-Rychs commented on #46
So just so I know I'm on the right track I want to write an if/else statement where:
if (DAV_ENV != 'simulated') we expect hasStore().toBeFalsy()
and then the opposite condition:
else expect hasStore().toBeTruthy()
Is that getting close to the mark? sorry first ever .spec test and not sure
would it be better to do an else if and specifically check that (DAV_ENV = 'simulated')?
Some thoughts and gu

[2017-09-16 09:04] cg-cnu commented on #56
Hey @tm3cheun the error you are getting could be [this](https://stackoverflow.com/a/45615942/2654256), because of the difference in the node version. Can you give the output of `node -v`.
@TalAter Is the node version 8.5 ? I couldn't find that info in package.json. Am also still on 6.10. Thanks 🙂

[2017-09-16 09:48] TalAter commented on #56
@cg-cnu Locally I'm using node v8.4.0. The production server is running v8.2.1

[2017-09-16 10:36] TalAter commented on #46
First, a quick note. Since we want to make sure it returns false, I would use `toBe(false)` rather than `toBeFalsy()`. The latter would also work if it returns undefined, 0, etc.

Second, we want to have each of our tests self-contained and just test a single condition. In other words, the tests that asserts that it `returns false if the DAV_ENV environment variable isn't set to 'simulated'`, shou

[2017-09-16 14:15] tm3cheun commented on #56
Hey @cg-cnu, I was running v6.9.1 so I updated to v8.4.0 and all the tests are passing! Thanks for your help!!

[2017-09-16 15:21] #56 closed

[2017-09-16 15:25] TalAter commented on #56
@tm3cheun
Looks great, I just merged your pull request :octocat:

Congrats on your first contribution to open source! 🎆  I hope it is the first of many!

Please join us on our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss this and more opportunities to get involved with open source.

[2017-09-16 15:26] TalAter opened #60 "Add tests to check random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-16 15:28] TalAter commented on #56
Hi @ZackTaylor,

I created a followup issue just for you. If you'd like to take this one, please write so on #60.

[2017-09-16 16:35] ZackTaylor commented on #60
@TalAter Thanks for opening this, Ill take a shot at this.

[2017-09-16 20:51] sblasa commented on #31
@TalAter Hi, I figured out that I needed to do a pull from the original repo and merge it with my project. I had noticed that there were some file changes in the original missioncontrol that I didn't have. It's working now. Moving on to fix the issue at hand. :)

[2017-09-16 22:15] TalAter opened #61 "Refactor getDavIdIconUrl()"
- Expand the `getDavIdIconUrl()` function to receive a `davId` argument, and return `https://lorempixel.com/100/100/abstract/?${davId}`
- Further expand that function so that it throws an exception if no `davId` is passed to it.
- Add JSDoc documentation to that function.
- Make sure everywhere we call that function we didn't forget to pass `davId`
- Update the test that calls it to make sure it p

[2017-09-17 02:38] cg-cnu opened #62 "Add tests to check icon attribute in random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-17 02:40] cg-cnu opened #63 "Add tests to check coords attribute in random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-17 02:41] cg-cnu opened #64 "Add tests to check rating attribute in random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-17 02:42] cg-cnu opened #65 "Add tests to check missions_completed attribute in random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-17 02:46] cg-cnu opened #66 "Add tests to check missions_completed_7_days attribute in random drone generator (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for writing code that makes drones fly, lets cars find charging stations, helps people and go

[2017-09-17 03:40] cg-cnu commented on #61
@TalAter Thanks for creating this. Am on it 😄

[2017-09-17 16:52] wilmer737 commented on #62
@TalAter I can take care of this one.

[2017-09-17 17:10] cg-cnu commented on #62
Hey @wilmer737 Sure, go ahead 👍 If you have any issues feel free to post it here or in the [chat room](https://gitter.im/DAVFoundation/DAV-Contributors).

[2017-09-18 01:34] ZackTaylor commented on #60
@TalAter I got the dev environment all set up, but when I run `npm test` 1 test fails:

`getDavIdIconUrl() › returns an absolute URL

    expect(received).toBeTruthy()

    Expected value to be truthy, instead received
      false

      at Object.test (test/specs/lib.davIdIcon.spec.js:8:5)
      at Promise.resolve.then.el (node_modules/p-map/index.js:42:16)
`

I haven't made any changes yet, shou

[2017-09-18 02:51] cg-cnu commented on #60
Hey @ZackTaylor It could be because of the version mismatch. What version of node you are on. The project depends on the latest version of node which is `v8.5.0`. Can you try bumping up your version and see if that fixes the problem. 🙂

[2017-09-18 21:42] ZackTaylor commented on #60
@cg-cnu awesome installed nvm and node `8.5.0` and tests are green now, thanks!

[2017-09-19 00:07] ZackTaylor commented on #60
Can I tackle more issues?

[2017-09-19 20:35] #60 closed

[2017-09-19 20:58] TalAter commented on #46
Hey @Rob-Rychs,

Let me know if you have further questions.

[2017-09-21 17:33] dusty-wil commented on #63
@TalAter @cg-cnu  Hi, I'd be interested in helping with this, if that would be OK. I'm super new to GIT, but have some JS experience.

[2017-09-22 02:42] cg-cnu commented on #63
Hey @dusty-wil Welcome to the git and github land! 😄 Sure, go ahead and do a pull request. If you need any help feel free to post it here on in the [gitter chat](https://gitter.im/DAVFoundation/DAV-Contributors). Thanks 🙂

[2017-09-22 03:33] Rob-Rychs commented on #63
Hey @dusty-wil if your still learning GIT a nice resource to checkout might be [this](http://rogerdudler.github.io/git-guide/) - good quick reference

[2017-09-22 08:34] #46 closed

[2017-09-22 08:37] TalAter commented on #46
Looks great, @Rob-Rychs!

Thank you, and thank you for bearing with my idiosyncrasies 😄

Congrats on joining the community, and becoming an open-sourcerer!

[2017-09-22 08:44] TalAter opened #70 "Refactor hasStore so that it is a function and not a boolean"
### Mission Control

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehicles.

## How you can help

### The Issue

Within `/server/lib/environment.js` is a boolean called `hasStore` which contains true or false, based on the availability of Redis in the current environment. It is currently a boolean, but

[2017-09-22 08:45] TalAter commented on #46
@Rob-Rychs I created a follow up issue to refactor `hasStore` to be a function and not a boolean - #70

Do you want to take that one?

[2017-09-22 09:44] Rob-Rychs commented on #46
yes please, thanks @TalAter

[2017-09-22 09:45] Rob-Rychs commented on #70
I am working on this issue 👨‍💻

[2017-09-22 13:57] dusty-wil commented on #63
@Rob-Rychs thanks! I'll take a look!

[2017-09-24 16:46] #70 closed

[2017-09-25 03:50] sblasa commented on #31
@TalAter , so I'm looking at the est/specs/simulation.random.spec.js . There is a describe block in there already, but I needed some help. I added the test in bold below and it passed. However, I need to add a test to see if the missionsCompleted7Days is a positive integer. Could you tell me how I could add that to the test?

Thanks!

describe('randomMissionsCompleted()', () => {

  test('returns

[2017-09-25 04:18] Rob-Rychs commented on #31
Hey @sblasa,
Maybe try something like `.toBeGreaterThan(0)` ?
That will at least check to make sure it's a positive number, if not a whole number which I'm not sure is necessary to test for
https://facebook.github.io/jest/docs/en/expect.html#tobegreaterthannumber
Just my thoughts...
😃

[2017-09-25 05:07] debeshadhikari commented on #28
Hi, I am extremely sorry for the very late response. I have been really busy and been travelling around for work. I have completed the task, and will send a pull request as soon as I get back, which is in a couple of days. Again, I am really sorry for the delay.

[2017-09-25 10:21] #66 closed

[2017-09-25 10:26] #63 closed

[2017-09-25 10:41] TalAter commented on #31
Thanks @Rob-Rychs

@sblasa does that answer your question?

GitHub Pro Tip #3704: When entering code in these GitHub issues, it is best to use markdown to make it easier to read... You even get syntax highlighting for free with it:

Just surround your code with some backticks like so:

[code]

<img width="642" alt="add_tests_to_check_missionscompleted7days_value_is_in_required_range_ _issue__31_ _

[2017-09-25 12:20] Rob-Rychs opened #74 "Update 'Contributing to Mission Control'"
Hey @TalAter @cg-cnu I was wondering if we could update this part... tripped me up on a previous PR and maybe we can avoid any other people making the same mistake... and spare them a `git revert` on their first PR 😖

Contributing to Mission Control

 Fork the repository from the Mission Control GitHub page.
 Clone a copy to your local machine with `$ git clone git@github.com:YOUR-GITHUB-USER-NAME

[2017-09-25 14:51] sblasa commented on #31
@TalAter Ah, thanks for the tip! I was wondering how I would do that. 👍  I'm going to try out the code that Rob-Rychs mentioned.
@Rob-Rychs thank you for your help! I will try that and see if it works. 👍

[2017-09-25 16:04] cg-cnu commented on #74
@Rob-Rychs Thanks for the input. That's actually a valid point. 👍  I will update the default gists with the changes.

[2017-09-25 18:06] Rob-Rychs commented on #74
Awesome 😄
As a bit of a follow-up to this, it looks like switching to yarn and yarn.lock as a package manager would stop this issue from popping up again. Seems npm-shrinkwrap uses a non-deterministic algorithm which causes the npm-shrinkwrap.json's lossy behaviour. See this [post](https://stackoverflow.com/questions/40057469/what-is-the-difference-between-yarn-lock-and-npm-shrinkwrap). Do you thi

[2017-09-25 22:15] TalAter commented on #74
@Rob-Rychs I have been thinking the same thing... we are already using yarn in missions, but had to stick with npm for now because mission control is deployed in a docker container. This docker container comes preinstalled with npm, but not yarn.

If you really want a challenging task, update the dockerfile to support yarn 👍

[2017-09-25 22:15] #74 closed

[2017-09-26 20:59] #62 closed

[2017-09-27 02:46] cg-cnu commented on #74
As mentioned in #77 we should mention the node version to use in the project to avoid confusion. :slightly_smiling_face:

[2017-09-27 03:50] sblasa commented on #31
@TalAter The code passed when I ran the test. I added this code
[code]

What do you think? Thanks for your help!

[2017-09-27 21:43] #64 closed

[2017-09-27 22:05] TalAter commented on #31
- The following is just a stylistic choice, but I think we should stick to the same format of test someone has already written for `missionsCompleted` (https://github.com/DAVFoundation/missioncontrol/blob/master/test/specs/simulation.random.spec.js#L43), which is to include all of them in one test that asserts that "missionsCompleted7Days should be a positive integer that is less than or equal to

[2017-09-27 22:30] Rob-Rychs commented on #31
Good stuff @sblasa @TalAter
If we store the original call to missionsCompleted() and then run the test using the properties from the stored call that might help prevent the issue with it failing from time to time...
something like...
[code]

[2017-09-28 21:45] ZackTaylor commented on #36
@TalAter I see this one was claimed but it's been a while and no updates. Would I be able to take a shot at this?

[2017-09-29 09:49] TalAter commented on #61
@cg-cnu Are you still interested in taking this one, or should we open this up to the community?

[2017-09-29 09:56] TalAter commented on #36
I've asked @shpyzer who has already done most of the work on this. If he doesn't have the time to finish this one, we'd love the extra help 👍

[2017-09-29 15:39] ZackTaylor commented on #36
@TalAter awesome, keep me posted.

[2017-10-08 11:34] TalAter commented on #31
@sblasa Are you still interested in working on this issue? We have received another pull request for it by @JordanShaak

[2017-10-08 16:45] sblasa commented on #31
@TalAter @Rob-Rychs Yes, I finished the update yesterday, and I was just going back through steps on Pull Request. I am submitting the pull request.  Thanks! :)

[2017-10-09 14:56] TalAter commented on #31
🎊 Just merged it. Awesome!

Congratulations on being an open sourcerer, and thank you so much for taking the time to help build the project!

[2017-10-09 14:56] #31 closed

[2017-10-09 14:59] sblasa commented on #31
@TalAter @Rob-Rychs Thanks for all your help! I'll keep an eye out for any other issues that I can help with. :)

[2017-10-09 15:19] #61 closed

[2017-11-03 10:43] FelixJ20000 commented on #65
Can I take this?

[2017-11-03 11:38] cg-cnu commented on #65
@FelixJ20000 Thanks for your interest in contributing to missioncontrol. We are waiting for other contributor to respond. Have a look around and see if you like to work on some other stuff. Meanwhile you can also join our [chat room](https://gitter.im/DAVFoundation/DAV-Contributors) We will be creating more issues in the coming days. 😄

[2017-11-06 12:43] TalAter commented on #36
@ZackTaylor
Looks like this one is still available, would you like to take this one on?

[2017-11-06 13:54] TalAter commented on #65
@FelixJ20000 It looks like this one is available again. Want to take a shot at it?

[2017-11-07 22:29] TalAter opened #82 "Add test to verify randomDavAddress() works correctly"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-07 22:49] TalAter opened #83 "Add test to verify randomRating() output"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2017-11-07 22:55] TalAter opened #84 "Test the output of randomCoords() 📐"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-07 23:04] TalAter opened #85 "Test the output of generateRandomVehicles()"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-07 23:11] TalAter opened #86 "Test the output of randomBid()"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2017-11-07 23:28] TalAter opened #87 "If user requests a pickup in an area with no drones, generate drones"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2017-11-07 23:42] TalAter opened #88 "Do not store simulated drones in memory indefinitely"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-07 23:48] TalAter opened #89 "Do not store bids in memory indefinitely"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2017-11-07 23:51] TalAter opened #90 "Set a TTL expiration for requests in memory"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2017-11-08 00:05] TalAter opened #91 "Create new route to cancel requests for missions"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2017-11-09 02:55] joeydlee95 commented on #65
Hi, I still saw that this issue has been up for grabs and was wondering if I can work on this project?

[2017-11-09 03:48] cg-cnu commented on #65
Hey @joeydlee95 Looks like couple of people have showed interest but never came back. You can pick it up. Am labeling this as claimed. Let me know if you have any questions 🙂

[2017-11-10 02:54] #28 closed

[2017-11-10 09:55] afmatthh commented on #82
I'll work on this

[2017-11-10 09:56] cg-cnu commented on #82
Hey @afmatthh Go ahead. Its yours... 😄

[2017-11-10 10:27] TalAter commented on #82
First :octocat:  pull request of the hackathon!

Thank you so much for your help ❤️ !

[2017-11-10 10:27] #82 closed

[2017-11-10 15:33] yrstyre commented on #85
I'll take this as well

[2017-11-10 16:12] cg-cnu commented on #85
Hey @yrstyre Sure thing, go ahead! Its yours 😄

[2017-11-10 17:46] cg-cnu opened #96 "Test the url getDavIdIconUrl(davId) returns contains the davId"
## Knowabunga! 🐢🐢🐢🐢

**This issue is tagged *Knowabunga*. It is only open for participants of the Knowabunga/DAV hackathon!**

Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to commun

[2017-11-12 10:20] #85 closed

[2017-11-12 11:44] #65 closed

[2017-11-29 21:34] sblasa commented on #83
Hi @TalAter , could I work on this issue?

Thanks,

[2017-11-30 00:20] Rob-Rychs commented on #87
can I work on this one? @TalAter

[2017-12-03 11:03] TalAter commented on #87
@Rob-Rychs Go for it! Thank you.

[2017-12-03 11:03] TalAter commented on #83
@sblasa Of course.

[2017-12-03 20:34] TalAter commented on #91
Claimed by @timigod

[2017-12-03 20:36] TalAter commented on #90
Claimed by @timigod

[2017-12-03 20:36] TalAter commented on #89
Claimed by @timigod

[2017-12-11 03:08] sblasa commented on #83
@TalAter great! Thanks!

[2017-12-14 20:44] #91 closed

[2017-12-14 20:46] #89 closed

[2017-12-14 20:47] #90 closed

[2017-12-14 21:03] TalAter opened #101 "Extract bids TTL value to external config file #first-timers-only"
### Mission Control

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, robots) and all the services around them to communicate and transact with each other.

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehi

[2017-12-14 21:05] TalAter opened #102 "Extract request TTL value to external config file #first-timers-only"
### Mission Control

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, robots) and all the services around them to communicate and transact with each other.

The DAV project you are looking at is *Mission Control*. It is the brain in charge of orchestrating missions between DAV users and autonomous vehi

[2017-12-14 22:18] #57 closed

[2017-12-16 20:53] #101 closed

[2017-12-16 20:59] #102 closed

[2017-12-18 09:58] #96 closed

[2017-12-20 10:13] #36 closed

[2017-12-24 20:10] griffobeid commented on #86
@TalAter would you mind if I worked on this issue?

[2017-12-25 09:51] TalAter commented on #86
@griffobeid Go ahead, thank you 👍

[2017-12-26 16:10] #86 closed

[2018-01-01 12:42] cg-cnu opened #111 "Create bids only from vehicles with status "available""
Thanks you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the bra

[2018-01-01 12:59] cg-cnu opened #112 "Test the output of randomBid() contains time_to_pickup (first-timers-only)"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2018-01-01 13:04] cg-cnu opened #113 "Test the output of randomBid() contains time_to_dropoff (first-timers-only)"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2018-01-01 14:08] prattheev commented on #112
@cg-cnu I'll do it!

[2018-01-01 15:03] cg-cnu commented on #112
@prattheev Sure thing! Go ahead 👍

[2018-01-01 16:38] cg-cnu opened #114 "Add homepage field to package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 16:47] cg-cnu opened #115 "Add bugs field to package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 18:48] cg-cnu opened #116 "Update copyright year to 2018 (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 18:50] prinzpiuz commented on #113
let me try..........

[2018-01-01 18:51] cg-cnu commented on #113
Give it a shot @prinzpiuz 🙂

[2018-01-02 08:52] #112 closed

[2018-01-02 08:54] TalAter commented on #112
@prattheev,

Looks great!
I just merged your pull request :octocat:

Congrats on your first contribution to open source! 🎆  I hope it is the first of many!

Please join us on our [contributors gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss this and more opportunities to get involved with open source.

[2018-01-02 14:58] googoos commented on #114
I would like to do it...

[2018-01-02 14:59] cg-cnu commented on #114
Go ahead @googoos 👍

[2018-01-02 15:13] #114 closed

[2018-01-02 15:16] cg-cnu commented on #114
Congratulations @googoos on your first contribution to opensource 🎆 🍾  Thanks for taking time to work on this one. Hope you enjoyed making your first pull request. Feel free to join our [gitter channel] to get more opportunities to work on opensource DAV projects 😄

[2018-01-03 15:35] eitchio commented on #115
Can I have a go at this?

[2018-01-03 15:36] cg-cnu commented on #115
Absolutely @eitchio 👍 Give it a shot 🙂

[2018-01-03 16:18] davidrthorn commented on #116
I would like to do this please if possible! It will be my first commit.

[2018-01-03 16:19] cg-cnu commented on #116
Sure @davidrthorn Go ahead 👍

[2018-01-03 16:50] #115 closed

[2018-01-03 16:52] eitchio commented on #115
Thank you very much for the opportunity!

[2018-01-03 16:55] cg-cnu commented on #115
Congratulations @eitchio on your first contribution to opensource. Hope you learned a bit about the workflow and had fun as well 🙂 Feel free to join our [gitter channel](https://gitter.im/nachiketdhamankar) to know about more opportunities 😄

[2018-01-03 17:16] #116 closed

[2018-01-03 17:20] cg-cnu commented on #116
Congratulations @davidrthorn on your first contribution to opensource 🎆 🍾  Hope this is the start of many contributions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to know about more opportunities to contribute to opensource and DAV 🙂

[2018-01-03 18:06] davidrthorn commented on #116
Thank you for letting me get involved

[2018-01-04 07:39] mym1990 commented on #111
@cg-cnu Hi Sreenivas, I would like to pick up this issue.

[2018-01-04 09:42] cg-cnu commented on #111
Hey @mym1990 ! Please go ahead 👍 Thanks!

[2018-01-04 10:33] cg-cnu opened #124 "Change test case in getDavIdIconUrl from toBeTruthy() to toBe(true) (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-04 12:35] mintunitish commented on #124
I will do it!

[2018-01-04 12:59] cg-cnu commented on #124
Sure thing @mintunitish Go ahead !

[2018-01-04 16:33] cg-cnu opened #125 "Change test case in randomMissionsCompleted from toBeTruthy() to toBe(true) (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-04 19:56] michielvanhaverbeke commented on #125
can i do it? i'm starting to get the hang of it

[2018-01-05 18:08] cg-cnu opened #129 "Extract checkIfAbsoluteURL() to a new helpers file"
## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of open-source contributors, we o

[2018-01-05 18:33] cg-cnu opened #130 "create getLatestMission() method and refactor existing code"
## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of open-source contributors, we o

[2018-01-05 20:51] #125 closed

[2018-01-05 20:52] TalAter commented on #125
Hi @michielvanhaverbeke
I'm sorry, but this issue has already been picked up. That is my bad for not removing the `help wanted` tag.

But there are plenty of others still open 👍 😃

[2018-01-05 21:29] #113 closed

[2018-01-05 21:32] TalAter commented on #113
Thanks @prinzpiuz

Looks great 👍

[2018-01-06 15:53] TalAter opened #133 "Refactor missionProgress to ease use and remove a dependency"
## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

### Mission Control

The DAV project you are looking at is Mission Control. Mission Control is a

[2018-01-06 18:53] griffobeid commented on #84
I think I found a solution for this. Not really sure if I put those functions in the proper spot though.

[2018-01-07 06:26] privateOmega commented on #133
I am interested in taking up this issue.

[2018-01-07 08:38] TalAter commented on #133
Go for it @privateOmega

[2018-01-07 08:48] #84 closed

[2018-01-07 09:09] TalAter commented on #87
Hi @Rob-Rychs ,

Still planning on doing this one, or can I open it up for grabs again?

[2018-01-07 09:10] TalAter commented on #83
Hi @sblasa

Are you still interested in doing this, or can I reopen it to others?

[2018-01-07 14:03] privateOmega commented on #133
While fixing the issue, I noticed usage of async/await without any catch statements to catch the unhandledpromiserejection errors.

[2018-01-07 14:17] TalAter commented on #133
@privateOmega
Can you be more specific about where it is, why it should be changed, and how? 👍

[2018-01-07 16:15] #133 closed

[2018-01-07 16:34] privateOmega commented on #129
I will take this.

[2018-01-07 22:52] Rob-Rychs commented on #87
Hey @TalAter quick question: how would you access the coords to pass into `getVehiclesInRange()`?  I've tried a couple different ways (requestDetails.pickup, string interpolation, an array with [pickup_long, pickup_lat] but haven't quite been able to get it...)
Just got set up with both projects + docker...
If someone could help me out or wants to jump in and solve this 👍
screenshot of some funny

[2018-01-07 23:00] Rob-Rychs commented on #87
it looks like `coords` is supposed to be an object with .long and .lat properties based on reading the `getVehiclesInRange` func... So would I need to create that obj from the requestDetails data first and then pass it into the func?

[2018-01-08 05:08] sblasa commented on #83
Hi @TalAter, sorry, yes still interested, I will get it to you this week and let you know if I'm having issues with it. Thanks for asking me and being patient. :) 👍

[2018-01-08 21:34] TalAter commented on #87
You can see exactly how `getVehiclesInRange` is used elsewhere in the code - https://github.com/DAVFoundation/missioncontrol/blob/4cec793ddeb845573d3b5b0a289a3820a267b28f/server/controllers/StatusController.js#L19
You need to use it the same way, passing it the pickup lat and long.

[2018-01-09 01:19] Rob-Rychs commented on #87
Thanks for that link @TalAter I should have searched for other calls to the function not just the definition that was silly of me! Thanks for your patience. I added `const { getVehiclesInRange } = require('./vehicles');` and the call `getVehiclesInRange({ lat: parseFloat(pickup_lat), long: parseFloat(pickup_long) }, 7000);` and was rewarded with seeing the drones pop-up in my browser 🎉

But as I w

[2018-01-09 09:35] TalAter commented on #87
I'm not sure I understand the problem you are describing. What do you mean they stopped rendering?

Can you create that pull request so I'll be able to run the code locally?

[2018-01-10 02:08] Rob-Rychs commented on #87
please see #139 i tried to explain in the PR.... basically the first time I tested these changes it created the drones within and range and took me to a list where i could select a drone and sign a contract... But subsequent tests have not produced the same behaviour...

[2018-01-10 23:03] #129 closed

[2018-01-10 23:19] #87 closed

[2018-01-13 00:14] tomscott1 commented on #130
I'd like to work on this please.

[2018-01-14 15:35] #130 closed

[2018-01-14 15:39] TalAter commented on #130
HI @tomscott1,

This one was already tackled by @griffobeid

My apologies for not updating the labels on it. I hope to see more contributions from you :octocat:

[2018-01-15 01:00] sblasa commented on #83
Hello @TalAter, I was experiencing this error when I ran my npm test.
![image](https://user-images.githubusercontent.com/20133223/34922986-fc763bfa-f94b-11e7-952d-d91a30f28d0c.png)

Maybe I missed something? I will try to sync the latest from your repo again and see if I get the same error. Thanks!

[2018-01-15 10:40] TalAter commented on #83
I had the same problem with the test and it is now fixed. Please sync with the latest revision from the repo.

[2018-01-15 17:05] griffobeid commented on #88
I think I figured this one out, @TalAter

[2018-01-15 21:30] #88 closed

[2018-01-17 04:06] sblasa commented on #83
@TalAter, thanks, I will try that!

[2018-01-21 22:40] #83 closed

[2018-01-21 23:12] TalAter opened #146 "Calculation of movement seems to be off"
When the drone goes from takeoff and starts travelling to dropoff, it jumps from the pickup location to somewhere in the middle of the way between pickup and dropoff. Could it be including the time of the *takeoff/waiting for user click* in the distance travelled calculation?

Is it possible the travelling to pickup location also has the same issue?

See attached image:

![distance_calculation](ht

[2018-01-28 20:59] koutron commented on #111
hey @mym1990 you still working on this?  wanted to take a crack at it if youre too busy.

[2018-01-30 11:54] TalAter commented on #111
@koutron Please go ahead with this one.

@mym1990 let us know if you're still interested in contributing, we can find more opportunities for you to help 👍

[2018-02-02 23:50] TalAter commented on #124
@mintunitish Are you still interested in doing this one?

[2018-02-05 15:59] mintunitish commented on #124
Done! [Pull Request](https://github.com/DAVFoundation/missioncontrol/pull/148)

[2018-02-05 16:00] #124 closed

[2018-02-05 16:02] TalAter commented on #124
Thank you @mintunitish  🎉
Looks great!

Welcome to the world of open source:octocat: ! I hope this is the first of many contributions.
Please join us on our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss more opportunities to get involved with DAV and Open Source in general.

[2018-02-06 08:45] #146 closed

[2018-02-15 12:35] bicep commented on #111
@koutron and @mym1990 Hey I'd love to take a stab at this-- are the both of you still working on this?

[2018-02-15 12:46] srfrnk commented on #111
Hey @koutron - maybe we can let @bicep take this one?
Also please let us know if you'd like to help in any other way.

@bicep Please go ahead and take this - thanks!

[2018-02-15 14:47] cg-cnu opened #154 "Add tests to validate that price is dependant on the distance traveled"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-02-15 18:47] cg-cnu opened #155 "refactor setting TTL in needs.js"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2018-02-15 18:49] cg-cnu opened #156 "refactor setting TTL in bids.js"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2018-02-15 18:50] cg-cnu opened #157 "refactor setting TTL in vehicles.js"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2018-02-15 19:36] hmainismael commented on #157
Hello, I would like to contribute. Can I claim this issue ?

[2018-02-15 19:38] cg-cnu commented on #157
Sure thing @hmainismael Go ahead 👍

[2018-02-15 19:47] hmainismael commented on #157
Please I just checked the file and there is no redundance of this code redis.expire(`vehicles:${vehicle.id}`, config('vehicles_ttl'));

[2018-02-15 19:50] cg-cnu commented on #157
Its found here...
https://github.com/DAVFoundation/missioncontrol/blob/1c093235ab0086806252046c462fc32f071aa79f/server/store/vehicles.js#L34-L40
in the lines 34 and 40.

[2018-02-15 22:25] psalv commented on #154
Hi! May I claim this and give it a shot?

[2018-02-16 03:43] cg-cnu commented on #154
Sure thing @psalv Go ahead 👍

[2018-02-16 07:31] bicep commented on #111
Hey @srfrnk, I get that bids are each autonomous vehicle offering a price for their service (?). Could you give me a brief overview of what a need and what needs.js does?

[2018-02-16 08:10] ArnaudButel commented on #156
Hi, can I contribute to this project and claim this issue?

[2018-02-16 08:17] simonansel commented on #155
Hi, Can i take this issue please ? It's my first contribution :)

[2018-02-16 15:28] psalv commented on #154
Created pull request #161

[2018-02-16 18:50] cg-cnu opened #162 "not able to retreive vehicle from redis store using id"
## Expected Behavior
Mission control should return vehicles

## Current Behavior
Docker instance started with out errors and on loading missions I got this error

[code]

## Steps to Reproduce (for bugs)

1. start missioncontrol as mentioned in contributing.md
2. Start missions

## Your Environment

* Version used:
* Environment name and version (e.g. Node 7.3.12): node 9.5.0
* Server type and ver

[2018-02-17 13:42] mangalnathanvg commented on #154
Hi, I would like to work on this issue. Can I give it a try?

[2018-02-17 17:50] TalAter commented on #162
I'm guessing this isn't enough to reproduce it, as it has been working for us lately.

@cg-cnu Can you make sure you have the latest version, and that the error still happens, and if so try and fix it maybe? Or help us reproduce it?

[2018-02-17 19:15] cg-cnu commented on #162
Hey @TalAter Seems like a strange one off issue.
I pasted the whole output from docker below.
One warning I ignored before is about Transperent Huge Pages(THP).
Found respective issue about it https://github.com/antirez/redis/issues/3895 and realized its not a critical one.

While I look into more details of this one and other potential issues. Can you confirm if you guys get this warning ?

[code

[2018-02-17 19:35] TalAter commented on #162
I was able to recreate the issue you mentioned, and it can be fixed by flushing Redis. This is because we changed the structure of the data we store.

[code]

[2018-02-17 19:39] cg-cnu commented on #162
Thanks much! Finally my drones are up 😄
![](https://user-images.githubusercontent.com/2767425/36344955-3e7850da-1448-11e8-9093-4a68863c8ffa.png)

[2018-02-18 03:20] cg-cnu opened #164 "remove license footer from readme (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-02-18 06:01] trevortosi commented on #164
Hello, I would like to do this.

[2018-02-18 06:01] cg-cnu commented on #164
Go ahead! Thanks! 🙂

[2018-02-18 07:27] #164 closed

[2018-02-18 07:29] cg-cnu commented on #164
Congratulations @trevortosi on your first contribution to open source 🎆 👏 Hope you had fun creating this pr and learned few things along the way! Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to know about more opportunities to contribute to open source and DAV. Cheers 🥂  🙂

[2018-02-18 13:15] hmainismael commented on #157
Thanks a lot for your help!

[2018-02-18 13:23] hmainismael commented on #157
The PR linked to this issue is the #158

[2018-02-18 18:23] #155 closed

[2018-02-18 18:28] cg-cnu commented on #155
@simonansel Thanks for your patience in taking the feedback and fixing the issue. Congratulations on your contribution to missioncontrol! 🥂 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities to contribute to open source! 🙂

[2018-02-18 18:36] cg-cnu commented on #157
Congratulations @hmainismael on your first contribution to open source! And thank you being patient and fixing the additional review comments. We really appreciate it. Hope you had fun and learned few things doing this PR. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities 🙂

[2018-02-18 18:36] #157 closed

[2018-02-18 18:40] cg-cnu commented on #154
Hey @mangalnathanvg This is already claimed. You can look at other issue over [here](https://github.com/search?q=org%3ADAVFoundation+is%3Aissue+is%3Aopen+label%3Afirst-timers-only) and find out once which are not labeled `claimed`

[2018-02-18 19:23] cg-cnu commented on #154
Hey @mangalnathanvg In case you are looking for first-timer issues. You can pickup this one https://github.com/DAVFoundation/xplore/issues/43

[2018-02-19 07:38] srfrnk commented on #111
Sure @bicep - you're exactly right - a Need is the "request" that comes from the client application (e.g. an end user that `needs` a drone delivery) - this is then sent to autonomous vehicles who in turn send their `bids` for supplying the `need`. Does that make sense now?

[2018-02-19 19:37] griffobeid opened #167 "Write a test to validate the values in mission progress status 'travelling_pickup'"
Thank you for your help ❤️

## What is this project?
DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of ope

[2018-02-19 21:52] TalAter commented on #167
@griffobeid
How would these tests be helpful in verifying the project. It will require hardcoding of every single state, and every single property in the state in the test, basically just replicating what is already in `missionProgress.js`... in fact, I would go as far as to say it reduces the reliability of the code because you now have to keep everything up to date in two places.

However, there

[2018-02-19 21:52] #167 closed

[2018-02-19 22:01] griffobeid commented on #167
@TalAter Gotcha. I'll look into a more useful test for this file.

[2018-02-21 21:50] TalAter opened #169 "Get rid of hasStore() calls throughout app"
Thank you for your help :heart:

## What is this project?

DAV (Decentralized Autonomous Vehicles) is a new foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

The specific project you are looking at is Mission Control. It is the brai

[2018-02-21 23:25] psalv commented on #169
May I claim this issue?

If so I want to ensure my understanding of the issue is correct; the following files, and any traces of them, need to be deleted altogether since they currently only contain hasStore() information:

server/store/redis.js
server/lib/environment.js
test/specs/lib.environment.spec.js

Is this correct?

[2018-02-21 23:35] TalAter commented on #169
We definitely do not want to delete `server/store/redis.js`

You want to change the code to always assume that had `hasStore()` been there, it would have returned true... you can delete the code that would have run had it returned false.

You can delete:
* `server/lib/environment.js`
* `test/specs/lib.environment.spec.js`

[2018-02-21 23:38] psalv commented on #169
Ah I misread the issue, glad I asked. I understand now.

[2018-02-22 05:41] psalv commented on #154
Created pull request #170

[2018-02-22 17:19] TalAter commented on #154
@srfrnk Can this now be closed again?

[2018-02-22 17:20] TalAter commented on #154
Can this be closed now? If not please reopen, and explain the current status... it is unclear

[2018-02-22 17:20] #154 closed

[2018-02-23 08:41] cg-cnu opened #171 "test that random bid get three parameters (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-02-23 08:44] cg-cnu opened #172 "Test that randombid parameters are coordinate objects (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-02-23 09:36] #156 closed

[2018-02-23 09:37] cg-cnu commented on #156
Hey @ArnaudButel Congratulations on your first awesome contribution 🍾 👏 Hope you had fun and learned a few thing in the process. Hope to see you contributing more. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors).

[2018-02-23 22:41] bicep opened #173 "Refactor code so that vehicle object returned from redis just has `coords` property and no `long` and `lat` property"
`getVehicle` function calls `redis.hgetAllAsync` which returns a vehicle object with the long and lat property. But then in line 42 of server/store/vehicle.js this vehicle object is given the coords property as well. This is confusing and is not DRY at all. This is even more bug prone when you take into account that the vehicle object returned from the `generateRandom` function in drone.js file ha

[2018-02-23 22:52] theissn commented on #171
I'd be happy to grab this one! Should be able to get a commit together tonight.

[2018-02-24 10:38] TalAter commented on #173
There does seem to be a lot of confusion there. Good find 👍
(Note also the `parseVehiclesArray`)

If you feel like diving in and making sure this is working the same way across the board in all places, go ahead... just be very careful, it might be easy to accidentally break some existing functionality.

[2018-02-24 11:11] devrana786 commented on #172
I would like to do it

[2018-02-24 14:39] bicep commented on #173
I'm aware that I'll have to tread carefully- pretty sure much of the code is working based on the `lat` and `long` property.

I don't mind taking this- I'm  just not too familiar with how redis works. Would love to learn though. Am I right to say that this is an issue that involves me changing the redis schema?

[2018-02-24 18:54] TalAter commented on #173
No, please don't change the Redis scheme.

What you can do is have a function that parses the redis output to a unified format. I think parseVehiclesArray already does that. Just need to make sure everything uses the same format.

[2018-02-25 09:59] #111 closed

[2018-02-25 16:26] raphaeltelatim commented on #172
Hey @cg-cnu, i would like to do it ;)

[2018-02-25 16:29] raphaeltelatim commented on #172
Just a question, on topic "Make changes in the LICENSE file", would not be "DO NOT Make changes in the LICENSE file"?

I think i don't understand that one.

[2018-02-26 02:12] cg-cnu commented on #172
Hey @raphaeltelatim Thanks for your interest. You can go ahead with the issue. 👍
Regarding the `license` file, I forgot to update it after creating the issue from the blueprint. Sorry for the confusion, its just a checklist for the first-timers to follow. Thanks for pointing out, I will be careful next time 🙂

[2018-02-26 04:38] georgesco94 commented on #169
Hello,
I would like to try this issue if possible. Think it should be done pretty quick.
Thanks

[2018-02-26 10:05] TalAter commented on #169
I believe @psalv is already working on this issue.

[2018-02-27 00:37] psalv commented on #169
Created pull request #175 for this issue.

[2018-02-27 18:16] cg-cnu commented on #162
Hey @TalAter I faced this issue again and I noticed someone else faced it in the gitter channel as well. Is it something we should do regularly ? if so can we add it to contributig.md ?

[2018-02-27 20:55] TalAter commented on #162
Did flushing redis help you this time?

I think it might be a good idea to add it to the CONTRIBUTING:

Having trouble? Make sure you've pulled the latest changes from both Mission Control and Missions, and run the command ... to clear the Redis cache.

[2018-02-28 08:00] srfrnk commented on #162
I think this is a symptom for a larger problem.
Can we maybe leave it open and try to trace the steps to reproduce?

[2018-02-28 17:50] #171 closed

[2018-02-28 17:51] cg-cnu commented on #171
Hey @theissn Thanks for your awesome work! 👏 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out more opportunities to contribute to opensource 🙂

[2018-02-28 17:52] #169 closed

[2018-02-28 17:54] cg-cnu commented on #169
Thanks for your awesome work @psalv 👍 Please join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out about more opportunities to contribute to DAV and opensource 🙂

[2018-02-28 17:58] cg-cnu commented on #162
Hey @TalAter Yes, flusing redis fixed the issue. So, for now am adding this to contributing.

Hey @srfrnk am reopening this issue as a reminder. Feel free to close if you thinks the issues is taken care of.

[2018-02-28 18:34] raphaeltelatim commented on #172
Hey @cg-cnu, i think its done.

https://github.com/DAVFoundation/missioncontrol/pull/177

[2018-03-01 10:24] ashis0013 commented on #172
Hello, @cg-cnu I am looking for my first open source project and I find this to be my opportunity; so, I'd like to do it :)

[2018-03-01 10:26] ashis0013 commented on #172
Hello, @cg-cnu I am looking for my first open source project and I find this to be my opportunity; so, I'd like to do it :)

[2018-03-01 12:02] srfrnk commented on #172
Hi @ashis0013  - i think this issue has been claimed already.
If you'd like to help maybe you can pick another from [here](https://github.com/DAVFoundation/missions/issues).
Many tnanks!

[2018-03-01 16:29] #172 closed

[2018-03-01 16:31] cg-cnu commented on #172
Hey @raphaeltelatim Thanks for your contribution to DAV 🙂 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out about more opportunities to contribute to opensource.

[2018-03-05 11:01] #173 closed

[2018-03-05 11:02] srfrnk commented on #173
Thanks for the work @bicep :tada:

[2018-03-05 20:50] gabimoncha commented on #162
I am also getting the same message when `sudo docker-compose build && sudo docker-compose`
[code]

[2018-03-06 06:35] srfrnk commented on #162
@gabimoncha Thanks for the input. This is a warning and since this is just a development environment not critical. If this were to show in production I'd be worried.

@cg-cnu - Thanks for reopening.

[2018-03-06 17:56] gabimoncha opened #180 "docker-compose build doesn't run"
## Current Behavior

I had to pull to pull some changes and after running `docker-compose build` it throws me this error:
[code]
even though
`docker-compose.yml` file specifies `version: "3"`

## Possible Solution

## Steps to Reproduce (for bugs)

1. `git pull`
2. `docker-compose build && docker-compose up`

## Context

the server won't start

## Your Environment

* Version used: 1.8.0
* Environm

[2018-03-07 01:02] cg-cnu commented on #180
Hey @gabimoncha I just pulled the latest changes and ran docker. Everything went well. I didn't got the issue you mentioned. Am on mac with docker version 17.12.0-ce. What version of docker you are on ?

[2018-03-07 06:05] srfrnk commented on #180
Hi @gabimoncha - Please see https://docs.docker.com/compose/compose-file/compose-versioning/#compatibility-matrix

It appears you have an old docker version.
You need `1.13.0+` for v3.0 files.

Can you upgrade your docker engine and verify?

[2018-03-08 14:05] #162 closed

[2018-08-22 11:09] TalAter opened #189 "Add license file (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2018-08-22 11:11] TalAter opened #190 "Add code of conduct document (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2018-08-22 13:02] Aks1610 commented on #189
I would like to work on this issue.

[2018-08-22 14:17] coderquill commented on #190
Hey @TalAter, I would like to work on this issue.

[2018-08-22 14:32] Aks1610 commented on #189
Thank you @TalAter  :)

[2018-08-22 17:43] coderquill commented on #190
Hey @TalAter, I have raised the PR, can you please review it?

[2018-08-23 06:25] singhvaibhavram commented on #190
Hey @TalAter Even I would like to work on this issue or anyother. Is this on still up-for-grabs?

[2018-08-23 18:58] abelmark commented on #190
I would love to work on this.

[2018-08-23 19:05] abelmark commented on #190
Pull request made.

[2018-08-23 22:32] abelmark commented on #190
Beautiful.

On Thu, Aug 23, 2018 at 3:25 PM Hernán Gimenez <notifications@github.com>
wrote:

[2018-09-06 12:02] Shamsudeen12 opened #196 "No Contribution Guidelines, when setting up with the missions project"

[2018-09-08 10:57] TalAter commented on #196
That's right @Shamsudeen12

We are in the process of rewriting much of the code base behind this and so anything written right now will become outdated very fast.

We'll have a lot more to show very soon 👍

[2018-09-08 10:57] #196 closed

[2018-09-08 11:13] #190 closed

[2018-09-09 11:52] Shamsudeen12 opened #197 "No Contribution.md"
Contribution.md link redirects to a 404 not found page

[2018-09-12 15:34] TalAter commented on #197
Removed the link for now.

This project has been completely rewritten from the ground up. We are working on new documentation.

Thank you for reporting 👍

[2018-09-12 15:34] #197 closed

[2018-09-12 15:38] TalAter opened #198 "Update license (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2018-09-12 19:51] jonathan-hamilton commented on #198
I would like to do it.

[2018-09-12 19:56] TalAter commented on #198
Thank you @jonathan-hamilton

Please, go ahead 👍

[2018-09-13 14:05] juannat95 commented on #198
Would like to do it.

[2018-09-15 16:14] veroca88 commented on #198
Can I try?

[2018-09-16 11:56] TalAter commented on #198
@veroca88 - Please, go ahead 👍

[2018-09-16 11:57] #198 closed

[2018-09-16 11:59] TalAter commented on #198
Thank you @jonathan-hamilton

Looks great!

[2018-09-16 12:03] TalAter commented on #198
@veroca88 This one has already been solved.

But the good news is that we have many other open issues - https://github.com/search?q=first-timers-only+org%3ADAVFoundation+label%3A%22up-for-grabs%22&state=open&type=Issues

[2018-10-01 10:47] TalAter opened #203 "Update license (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before, and are looking for an easy way take their first steps.

Consider this your chance to dip your toe into the world of open-source, and get some bragging rights for helping make drones fly, cars find charging stations, and people and goods get from place

[2018-10-01 12:50] kemega commented on #203
Hey @TalAter , I would like to claim this issue

[2018-10-01 13:00] wptechprodigy commented on #203
Hi, I will like to do this to get myself into the open source world and go on right from this one.
Thanks for your consideration

[2018-10-01 14:57] piyush97 commented on #203
I'm doing it

[2018-10-01 21:40] jcat1504 commented on #203
I'm totally doing this. First-timer in contributing for open-source projects. Thank you!

[2018-10-01 22:57] Kathy145 commented on #203
If you still need assistance @TalAter, I would love to claim this one.

[2018-10-02 07:49] Pedrocssg commented on #203
I would like to do it!

[2018-10-02 09:00] breakit1234 commented on #203
I would like to do it.

[2018-10-02 11:47] #203 closed

[2018-10-02 11:50] TalAter commented on #203
We received 7 separate pull requests for this issue, so I went ahead and accepted the earliest one, and closed the rest.

Thank you, everyone. Please feel free to check out the other open issues we have 👍

[2019-10-22 06:56] gitshbhts opened #246 "Add documentation about missioncontrol"
Please add documentation about app so that its easy to understand all features of your app so that developer can do task easy.

[2020-01-27 12:58] ArchanjoJr commented on #246
What kind of documentation your thinking about @gitshbhts ?!
Any recomendation for template or framework ?!

[2020-08-17 09:21] ghost commented on #246
Yes, @gitshbhts how will i get content for the documentation

[2021-06-02 15:28] KuhanPrakash commented on #246
Hi I would like to ask if this issue is still open to take up?

[2022-07-10 23:42] ItsAndrea commented on #246
Greets, is this issue still open?